.container {
    border-top: 3px solid red;
    padding: 10px 20px;
}
.menuList {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.listItem button{
 width: 100%;
 text-align: left;
 padding: 10px;
 border: none;
 background-color: #fff;
 font-size: 20px;
 font-weight: bold;
}

.header img {
    width: 100px;
}

.itemDetail {
    font-family: 'source serif pro';
    padding: 10px;
}

@media (min-width: 700px) {
    .menuList {
        flex-direction: row;
    }
 }